
@include breakpoint($desktop, $max-width) {
    .students-section {
        .image-students {
            position: relative;
            margin-top:17vh;
            margin-bottom: 20vh;
            width: 100%;
            z-index: 1;
            
        }
        .students-response {
            position: absolute;
            height: 20vh;
            width: 20vh;
            background-color: $bgcards;
            
            z-index: 5;
        }
    }
}