.students-section {
    font-family: 'Inter';
    display: flex;
    height: fit-content;
    position: absolute;
    color: white;
    z-index: 2;
    background-color: $bgcards;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
    margin-bottom: 10vh;
}

.image-students {
    position: relative;
    z-index: 1;
    opacity: 0.5;
}

@include breakpoint($desktop, $max-width) {
    .image-students {
        margin-top: 17vh;
        margin-bottom: 30vh;
        width: 100%;
    }
    .students-section {
        margin-left: 10vh;
        margin-right: 30vh;
        margin-top: 35rem;
        max-width: 100vh;
        padding-bottom: 4rem;
        .students-response {
            h3 {
                margin-left: 15vh;
                margin-top: 3rem;
                font-size: 2.3rem;
                font-weight: bold;
            }
            h3::before {
                content: '';
                width: 10%;
                border-bottom: 3px solid $primary;
                position: absolute;
                margin-top: 3.5rem;
            }
            p {
                margin-top: 2rem;
                margin-left: 15vh;
                margin-right: 20vh;
                max-width: 80vh;
                line-height: 1.5;
            }
            .quotation_mark {
                height: fit-content;
                img {
                    margin-top: 3rem;
                    margin-left: 15vh;
                    width: 8vh;
                    height: auto;
                }
            }
        }
    }
}

@include breakpoint(0, $mobile) {
    .image-students {
        margin-bottom: 40vh;
        width: 100vw;
        height: auto;
        left: 0;
        right: 0;
    }
    .students-section {
        margin-left: 5vh;
        margin-right: 15vh;
        margin-top: 7rem;
        max-width: fit-content;
        padding-bottom: 2rem;
        .students-response {
            h3 {
                margin-left: 3vh;
                margin-top: 2rem;
                font-size: 1rem;
            }
            h3::before {
                content: '';
                width: 10%;
                border-bottom: 2px solid $primary;
                position: absolute;
                margin-top: 1.5rem;
            }
            p {
                margin-top: 1rem;
                margin-left: 3vh;
                margin-right: 3vh;
                max-width: 35vh;
                line-height: 1.5;
                font-size: 0.6rem;
            }
            .quotation_mark {
                height: fit-content;
                img {
                    width: 3vh;
                    height: auto;
                    padding-top: 1.3rem;
                    margin-left: 3vh;
                }
            }
        }
    }
}