*, *:after, *:before {
    box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

* {
    font-family: 'Inter';
}
  
html, body {
    overflow-x: hidden;
    max-width: 100%;
    background-color: $bggray;
}

@include breakpoint($desktop, $max-width) {
    main{
      width: 100%;
    }
}