// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;


// BREAKPOINTS
$mobile: 599;
$desktop: $mobile + 1;


// COLORS
// $copy: ;
// $bgcolor: ;
// $primary ;
$bggray: hsl(204, 5%, 19%);
$primary: hsl(45, 100% , 50%);
$bgcards: hsl(0, 1%, 15%);
$bgbooks: hsl(204, 5%, 18%);
$bgfooter: hsl(0, 0%, 12%);
$bgabout: hsl(204, 5%, 18%);
$bgconsulting: hsl(0, 0%, 12%);

