/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/inter-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/inter-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("./fonts/inter-v12-latin-300.woff2") format("woff2"), url("./fonts/inter-v12-latin-300.woff") format("woff"), url("./fonts/inter-v12-latin-300.ttf") format("truetype"), url("./fonts/inter-v12-latin-300.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/inter-v12-latin-regular.woff2") format("woff2"), url("./fonts/inter-v12-latin-regular.woff") format("woff"), url("./fonts/inter-v12-latin-regular.ttf") format("truetype"), url("./fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/inter-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("./fonts/inter-v12-latin-500.woff2") format("woff2"), url("./fonts/inter-v12-latin-500.woff") format("woff"), url("./fonts/inter-v12-latin-500.ttf") format("truetype"), url("./fonts/inter-v12-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/inter-v12-latin-700.woff2") format("woff2"), url("./fonts/inter-v12-latin-700.woff") format("woff"), url("./fonts/inter-v12-latin-700.ttf") format("truetype"), url("./fonts/inter-v12-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
.hidden {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

*, *:after, *:before {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

* {
  font-family: "Inter";
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  background-color: hsl(204deg, 5%, 19%);
}

@media (min-width: 37.5rem) and (max-width: 120rem) {
  main {
    width: 100%;
  }
}
@media (min-width: 0rem) and (max-width: 37.4375rem) {
  header {
    height: 100vh;
  }
  header h1 {
    max-width: 10rem;
    font-weight: bold;
    color: hsl(45deg, 100%, 50%);
    text-transform: lowercase;
    font-size: 1.2rem;
    padding-left: 25px;
    padding-top: 25px;
  }
  header img {
    position: absolute;
    height: 25vh;
    width: auto;
    margin-top: 2rem;
    margin-left: 8rem;
  }
  #mainnav {
    right: 0;
    top: 0;
    width: 100%;
    background-color: hsl(0deg, 0%, 21%);
    z-index: 9;
  }
  #mainnav ul {
    position: fixed;
    padding: 3rem 1rem 1rem 1rem;
    margin-top: 0rem;
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    background-color: hsl(0deg, 0%, 21%);
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  #mainnav ul li {
    text-align: right;
    margin-top: 24px;
  }
  #mainnav ul a {
    color: hsl(45deg, 100%, 50%);
    list-style-type: none;
    text-transform: uppercase;
  }
  #mainnav ul a:hover {
    text-decoration: underline;
  }
  .dreams {
    height: fit-content;
  }
  .dreams h2 {
    font-size: 1.3rem;
    color: white;
    max-width: 80vw;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-left: 25px;
  }
  .dreams h3 {
    font-size: 0.9rem;
    margin-left: 0;
    color: white;
    margin-bottom: 15px;
    padding-left: 25px;
  }
  .dreams p {
    color: white;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 70vw;
    margin-bottom: 2rem;
    padding-left: 25px;
  }
  .dreams .button {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 0.6rem 1.1rem;
    border-radius: 10px;
    margin-top: 35%;
    color: hsl(204deg, 5%, 19%);
    margin-left: 25px;
  }
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13rem;
    position: absolute;
    background-color: hsl(45deg, 100%, 50%);
    padding: 20px 0px 20px 0px;
    height: fit-content;
    width: 100vw;
  }
  .stats div {
    text-align: center;
    color: hsl(204deg, 5%, 19%);
  }
  .stats div .number {
    font-size: 2rem;
    font-weight: bold;
  }
  .stats div p {
    font-size: 1rem;
  }
  .workshop-header {
    text-align: center;
  }
  .workshop-header h2 {
    width: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
    color: white;
    max-width: 80vw;
    margin-top: 10vh;
    margin-bottom: 20px;
  }
  .consulting-header {
    height: fit-content;
    text-align: center;
  }
  .consulting-header h2 {
    width: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
    color: white;
    max-width: 80vw;
    margin-top: 10vh;
    margin-bottom: 20px;
  }
}
@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #hamburger {
    width: 24px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
    background-color: transparent;
    z-index: 999;
    margin: 15px;
  }
  #hamburger [class^=line-1] {
    background-color: hsl(45deg, 100%, 50%);
    width: 100%;
    height: 1.5px;
    position: absolute;
    transition: transform 0.5s ease;
  }
  #hamburger [class^=line-2] {
    background-color: hsl(45deg, 100%, 50%);
    margin-left: 0.4rem;
    width: 70%;
    height: 1.5px;
    position: absolute;
    transition: transform 0.5s ease;
  }
  #hamburger.hover {
    cursor: pointer;
  }
  #hamburger .line-1 {
    top: 0;
  }
  #hamburger .line-2 {
    top: 8px;
  }
  #hamburger.open .line-1 {
    transform: rotate(45deg);
    transform-origin: 0 0;
  }
  #hamburger.open .line-2 {
    width: 100%;
    transform: rotate(-45deg) translate(2px, 6px);
    transform-origin: 0px 18px;
  }
  #hamburger.closed + ul {
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}
header {
  background-color: hsl(204deg, 5%, 19%);
  font-family: "Inter";
}

@media (min-width: 37.5rem) and (max-width: 120rem) {
  header {
    padding: 25px;
    height: fit-content;
    margin-bottom: 10vh;
  }
  header h1 {
    max-width: 30rem;
    font-weight: bold;
    color: hsl(45deg, 100%, 50%);
    font-size: 300;
    text-transform: lowercase;
    font-size: 2.5rem;
    margin-left: 2.5rem;
  }
  #mainnav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: hsl(204deg, 5%, 19%);
    padding: 50px 20px 0px 0px;
  }
  #mainnav #hamburger {
    display: none;
  }
  #mainnav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30vw;
  }
  #mainnav li a {
    text-transform: uppercase;
    color: hsl(45deg, 100%, 50%);
  }
  #mainnav li a:hover {
    text-decoration: underline;
  }
  .dreams {
    margin-left: 2.5rem;
    margin-top: 15vh;
  }
  .dreams h2 {
    font-size: 3.55rem;
    color: white;
    max-width: 75vw;
    margin-bottom: 20px;
  }
  .dreams h3 {
    font-size: 1.5rem;
    margin-left: 0;
    color: white;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  .dreams p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 40vw;
    margin-bottom: 3rem;
  }
  .dreams .button {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 1.1rem 1.7rem;
    border-radius: 10px;
    margin-top: 50%;
    color: hsl(204deg, 5%, 19%);
  }
  .workshop-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .workshop-header h2 {
    font-size: 3.55rem;
    color: white;
    max-width: 70vw;
    margin-bottom: 20px;
    margin-top: 15vh;
  }
  .consulting-header {
    height: 20vh;
  }
  .consulting-header div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
  }
  .consulting-header h2 {
    font-size: 3.55rem;
    color: white;
    margin-bottom: 20px;
    margin-top: 15vh;
    text-align: center;
    padding: 0 10vw;
  }
  .rick-header {
    margin-left: 40rem;
    width: auto;
    position: relative;
  }
  .stats {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(45deg, 100%, 50%);
    padding: 40px;
    height: fit-content;
    border-radius: 10px;
    margin-left: 18vw;
    position: relative;
    bottom: 3vh;
  }
  .stats div {
    text-align: center;
    color: hsl(204deg, 5%, 19%);
  }
  .stats div .number {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .stats div p {
    font-size: 1.2rem;
  }
}
#what_i_do {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #what_i_do {
    height: fit-content;
    background-color: hsl(204deg, 5%, 19%);
    width: 100vw;
    text-align: center;
  }
  #what_i_do h2 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 5vh;
  }
  #what_i_do .cards {
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
  #what_i_do .cards [class^=card-1] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards [class^=card-1] img {
    width: 70%;
    position: relative;
    right: 125px;
    bottom: 34px;
  }
  #what_i_do .cards [class^=card-1] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #what_i_do .cards [class^=card-2] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards [class^=card-2] img {
    width: 50%;
    position: relative;
    right: 58px;
    bottom: 29px;
  }
  #what_i_do .cards [class^=card-2] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #what_i_do .cards [class^=card-3] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
  }
  #what_i_do .cards [class^=card-3] img {
    width: 70%;
    position: relative;
    right: 125px;
    bottom: 34px;
  }
  #what_i_do .cards [class^=card-3] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #what_i_do .cards-second-slide {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 15%;
    background-color: hsl(204deg, 5%, 19%);
    display: none;
  }
  #what_i_do .cards-second-slide [class^=card-4] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards-second-slide [class^=card-4] img {
    width: 50%;
    position: relative;
    right: 58px;
    bottom: 29px;
  }
  #what_i_do .cards-second-slide [class^=card-4] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #what_i_do .cards-second-slide [class^=card-5] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards-second-slide [class^=card-5] img {
    width: 70%;
    position: relative;
    right: 125px;
    bottom: 34px;
  }
  #what_i_do .cards-second-slide [class^=card-5] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #what_i_do .cards-second-slide [class^=card-6] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards-second-slide [class^=card-6] img {
    width: 50%;
    position: relative;
    right: 58px;
    bottom: 29px;
  }
  #what_i_do .cards-second-slide [class^=card-6] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #what_i_do {
    height: 60vh;
    background-color: hsl(204deg, 5%, 19%);
    width: 100vw;
    text-align: center;
  }
  #what_i_do h2 {
    color: white;
    font-size: 3rem;
  }
  #what_i_do .cards {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 15%;
  }
  #what_i_do .cards [class^=card-1] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards [class^=card-1] img {
    height: 17vh;
    width: auto;
    position: relative;
    right: 35px;
    bottom: 15px;
  }
  #what_i_do .cards [class^=card-1] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #what_i_do .cards [class^=card-2] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    padding: 2% 7% 5% 0%;
    height: 35vh;
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards [class^=card-2] img {
    height: 13vh;
    width: auto;
    position: relative;
    left: 35px;
  }
  #what_i_do .cards [class^=card-2] h3 {
    font-size: 2rem;
    text-align: left;
    max-width: 10vw;
    margin-left: 15%;
    margin-top: 18%;
  }
  #what_i_do .cards [class^=card-3] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards [class^=card-3] img {
    height: 17vh;
    width: auto;
    position: relative;
    left: 45%;
    bottom: 15px;
  }
  #what_i_do .cards [class^=card-3] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
  }
  #what_i_do .cards-second-slide {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 15%;
    background-color: hsl(204deg, 5%, 19%);
    display: none;
  }
  #what_i_do .cards-second-slide [class^=card-4] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards-second-slide [class^=card-4] img {
    height: 17vh;
    width: auto;
    position: relative;
    left: 45%;
    bottom: 15px;
  }
  #what_i_do .cards-second-slide [class^=card-4] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #what_i_do .cards-second-slide [class^=card-5] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    padding: 2% 7% 5% 0%;
    height: 35vh;
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards-second-slide [class^=card-5] img {
    height: 13vh;
    width: auto;
    position: relative;
    left: 35px;
  }
  #what_i_do .cards-second-slide [class^=card-5] h3 {
    font-size: 2rem;
    text-align: left;
    max-width: 10vw;
    margin-left: 15%;
    margin-top: 18%;
  }
  #what_i_do .cards-second-slide [class^=card-6] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #what_i_do .cards-second-slide [class^=card-6] img {
    height: 17vh;
    width: auto;
    position: relative;
    right: 35px;
    bottom: 15px;
  }
  #what_i_do .cards-second-slide [class^=card-6] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
  }
}
#books-wrapper {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #books-wrapper {
    background-color: hsl(204deg, 5%, 18%);
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
  }
  #books-wrapper .book-desktop {
    display: none;
  }
  #books-wrapper h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: hsl(45deg, 100%, 50%);
    margin-bottom: 1rem;
    text-align: center;
  }
  #books-wrapper h2 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
  }
  #books-wrapper .display {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25px;
    margin-bottom: 7vh;
  }
  #books-wrapper .display div h4 {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    max-width: 80vw;
    line-height: 1.5;
  }
  #books-wrapper .display div p {
    color: white;
    font-size: 0.8rem;
    text-align: left;
    max-width: 80vw;
    margin-bottom: 3rem;
    line-height: 1.7;
  }
  #books-wrapper .display div .button {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 0.6rem 1.1rem;
    border-radius: 10px;
    margin-top: 35%;
    color: hsl(204deg, 5%, 19%);
    align-self: center;
  }
  #books-wrapper img {
    position: relative;
    right: 10px;
    bottom: 50px;
    margin: 10% 0% 0% -8%;
  }
  #books-wrapper p {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  #books-wrapper .three-books-display {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-self: center;
  }
  #books-wrapper .three-books-display img {
    margin-left: 20px;
  }
  #books-wrapper .button {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 0.6rem 1.1rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
    align-self: center;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #books-wrapper {
    background-color: hsl(204deg, 5%, 18%);
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  #books-wrapper .book-phone {
    display: none;
  }
  #books-wrapper h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: hsl(45deg, 100%, 50%);
    margin-bottom: 1rem;
    text-align: center;
  }
  #books-wrapper h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
  }
  #books-wrapper .display {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 25px;
  }
  #books-wrapper .display div h4 {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: left;
    max-width: 50vw;
    line-height: 1.5;
  }
  #books-wrapper .display div p {
    color: white;
    font-size: 1.2rem;
    text-align: left;
    max-width: 40vw;
    margin-bottom: 3rem;
    line-height: 1.7;
  }
  #books-wrapper .display div .button {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 1.1rem 1.7rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
    width: fit-content;
  }
  #books-wrapper .display img {
    position: relative;
    right: 10px;
    bottom: 50px;
  }
  #books-wrapper p {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  #books-wrapper .three-books-display {
    width: fit-content;
    align-self: center;
    margin: 1.5rem;
  }
  #books-wrapper .button {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 1.1rem 1.7rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
    width: fit-content;
    align-self: center;
  }
}
#business-consulting {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #business-consulting {
    height: fit-content;
    padding: 10% 10% 2% 10%;
    width: 100vw;
    margin-bottom: 10vh;
  }
  #business-consulting .button {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 0.6rem 1.1rem;
    border-radius: 10px;
    margin-top: 35%;
    color: hsl(204deg, 5%, 19%);
  }
  #business-consulting .succeed {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 3vh;
    margin-bottom: 10vh;
  }
  #business-consulting .succeed div h2 {
    font-size: 1.2rem;
    max-width: 80vw;
    color: white;
    margin-bottom: 2rem;
  }
  #business-consulting .succeed div p {
    line-height: 1.5;
    margin-bottom: 3rem;
    color: white;
    max-width: 80vw;
    font-size: 0.8rem;
  }
  #business-consulting .succeed img {
    align-self: center;
    width: 90%;
    height: auto;
    position: relative;
    margin: 0;
  }
  #business-consulting .learning-together {
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
    justify-content: right;
  }
  #business-consulting .learning-together div h2 {
    font-size: 1.2rem;
    max-width: 80vw;
    color: white;
    margin-bottom: 2rem;
  }
  #business-consulting .learning-together div p {
    line-height: 1.5;
    margin-bottom: 3rem;
    color: white;
    max-width: 80vw;
    font-size: 0.8rem;
  }
  #business-consulting .learning-together img {
    align-self: center;
    width: 90%;
    height: auto;
    position: relative;
    margin: 0;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #business-consulting {
    height: fit-content;
    padding: 10% 10% 2% 10%;
    width: 100vw;
  }
  #business-consulting .button {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 1.1rem 1.7rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
  }
  #business-consulting .succeed {
    display: flex;
    flex-direction: row;
    column-gap: 8vw;
    margin-bottom: 10vh;
  }
  #business-consulting .succeed div h2 {
    font-size: 2rem;
    max-width: 45vw;
    color: white;
    margin-bottom: 2rem;
  }
  #business-consulting .succeed div p {
    line-height: 1.5;
    margin-bottom: 3rem;
    color: white;
    max-width: 45vw;
    font-size: 1.2rem;
  }
  #business-consulting .succeed img {
    width: 40%;
    height: auto;
    position: relative;
    bottom: 35px;
    left: 10px;
  }
  #business-consulting .learning-together {
    display: flex;
    flex-direction: row;
    column-gap: 8vw;
    justify-content: right;
  }
  #business-consulting .learning-together div h2 {
    font-size: 2rem;
    max-width: 45vw;
    color: white;
    margin-bottom: 2rem;
    text-align: right;
  }
  #business-consulting .learning-together div p {
    line-height: 1.5;
    margin-bottom: 3rem;
    color: white;
    max-width: 45vw;
    font-size: 1.2rem;
    text-align: right;
  }
  #business-consulting .learning-together div .button {
    float: right;
  }
  #business-consulting .learning-together img {
    width: 40%;
    height: auto;
    position: relative;
    bottom: 35px;
    right: 10px;
  }
}
#about-me {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #about-me {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: hsl(204deg, 5%, 18%);
    padding: 5vh 30px 6vh 30px;
    margin-bottom: 2.5rem;
    align-items: center;
  }
  #about-me img {
    position: relative;
    height: auto;
    width: 50vw;
    margin: 0;
  }
  #about-me div h2 {
    font-size: 1.2rem;
    max-width: 80vw;
    color: white;
    line-height: 2.5;
    font-weight: bold;
    text-align: center;
  }
  #about-me div p {
    line-height: 1.7;
    margin-bottom: 2rem;
    color: white;
    max-width: 80vw;
    font-size: 0.8rem;
  }
  #about-me div .button {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 0.6rem 1.1rem;
    border-radius: 10px;
    margin-top: 35%;
    color: hsl(204deg, 5%, 19%);
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #about-me {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 7% 5% 5% 5%;
    column-gap: 4vw;
    justify-content: center;
    background-color: hsl(204deg, 5%, 18%);
  }
  #about-me div h2 {
    font-size: 2rem;
    max-width: 45vw;
    color: white;
    margin-bottom: 2rem;
  }
  #about-me div p {
    line-height: 1.7;
    margin-bottom: 3rem;
    color: white;
    max-width: 45vw;
    font-size: 1.2rem;
  }
  #about-me div .button {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 1rem 1.6rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
  }
}
.w-flex-container {
  font-family: "Inter";
  display: flex;
  height: fit-content;
  color: white;
}
.w-flex-container h3 {
  font-weight: bold;
  text-align: center;
}
.w-flex-container p {
  text-align: center;
}
.w-flex-container .left-block {
  background-color: hsl(0deg, 1%, 15%);
}
.w-flex-container .right-block {
  background-color: hsl(204deg, 5%, 18%);
  padding-bottom: 5rem;
}
.w-flex-container .right-block .button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: hsl(45deg, 100%, 50%);
  border: 1px solid hsl(45deg, 100%, 50%);
  border-radius: 10px;
  color: hsl(204deg, 5%, 19%);
}

@media (min-width: 37.5rem) and (max-width: 120rem) {
  .w-flex-container h3 {
    margin-top: 10vh;
    font-size: 3rem;
  }
  .w-flex-container h3::before {
    content: "";
    width: 10%;
    border-bottom: 3px solid hsl(45deg, 100%, 50%);
    position: absolute;
    transform: translateX(-50%);
    margin-top: 5rem;
  }
  .w-flex-container p {
    margin: 8vh 10vh 10vh 10vh;
    line-height: 1.5;
    font-size: 1rem;
  }
  .w-flex-container .left-block {
    flex: 60%;
  }
  .w-flex-container .left-block h3::before {
    left: 30%;
  }
  .w-flex-container .right-block {
    flex: 40%;
  }
  .w-flex-container .right-block h3::before {
    right: 10%;
  }
  .w-flex-container .right-block .button {
    margin-bottom: 10%;
    font-size: 0.8rem;
    padding: 1.1rem 1.7rem;
    margin-left: 40%;
  }
}
@media (min-width: 0rem) and (max-width: 37.4375rem) {
  .w-flex-container {
    margin-top: -40rem;
    flex-direction: column;
    margin-bottom: 6rem;
  }
  .w-flex-container h3 {
    margin-top: 5vh;
  }
  .w-flex-container h3::before {
    content: "";
    width: 10%;
    border-bottom: 2px solid hsl(45deg, 100%, 50%);
    position: absolute;
    transform: translateX(-50%);
    margin-top: 2rem;
  }
  .w-flex-container p {
    line-height: 1.8;
  }
  .w-flex-container .left-block {
    flex: 100%;
  }
  .w-flex-container .left-block p {
    margin: 5vh 5vh 7vh 5vh;
    font-size: 0.8rem;
  }
  .w-flex-container .left-block h3::before {
    left: 50%;
  }
  .w-flex-container .right-block {
    flex: 100%;
  }
  .w-flex-container .right-block p {
    margin: 5vh 5vh 5vh 5vh;
    font-size: 0.8rem;
  }
  .w-flex-container .right-block .button {
    font-size: 0.6rem;
    padding: 0.5rem 0.9rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .w-flex-container .right-block h3::before {
    right: 40%;
  }
}
.workshops-container {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  height: fit-content;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
}
.workshops-container h4 {
  color: hsl(45deg, 100%, 50%);
  text-transform: uppercase;
}
.workshops-container .button {
  font-weight: bold;
  background-color: hsl(45deg, 100%, 50%);
  border: 1px solid hsl(45deg, 100%, 50%);
  border-radius: 10px;
  color: hsl(204deg, 5%, 19%);
}

@media (min-width: 37.5rem) and (max-width: 120rem) {
  .workshops-container {
    margin: 13vh 8vh 8vh 8vh;
  }
  .workshops-container h4 {
    margin: 4vh 3vh 2vh 3vh;
  }
  .workshops-container h3 {
    margin: 0.5vh 3vh 2vh 3vh;
    font-size: 2rem;
  }
  .workshops-container p {
    margin-bottom: 4vh;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  .workshops-container .button {
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
  }
  .workshops-container .workshop-image-right {
    height: fit-content;
  }
  .workshops-container .workshop-image-right img {
    width: 30vh;
    height: auto;
    margin-bottom: 2vh;
    margin-top: -20vh;
  }
  .workshops-container .workshop-left p {
    margin-left: 3vh;
    margin-right: 40vh;
  }
  .workshops-container .workshop-left .button {
    margin-left: 3vh;
  }
  .workshops-container .workshop-left .workshop-image-right img {
    float: right;
    margin-right: 3vh;
  }
  .workshops-container .workshop-right h4 {
    text-align: right;
  }
  .workshops-container .workshop-right h3 {
    text-align: right;
  }
  .workshops-container .workshop-right p {
    text-align: right;
    margin-left: 40vh;
    margin-right: 3vh;
  }
  .workshops-container .workshop-right .button {
    margin-right: 3vh;
    float: right;
  }
  .workshops-container .workshop-right .workshop-image-right {
    float: left;
    margin-left: 3vh;
  }
}
@media (min-width: 0rem) and (max-width: 37.4375rem) {
  .workshops-container {
    margin: 5vh 2vh 5vh 2vh;
    padding-bottom: 4vh;
    position: relative;
  }
  .workshops-container .workshop-left {
    padding: 70px 30px 30px 30px;
  }
  .workshops-container .workshop-right {
    padding: 70px 30px 30px 30px;
  }
  .workshops-container h4 {
    margin: 10vh 2vh 1vh 2vh;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5;
  }
  .workshops-container h3 {
    margin: 1vh 6vh 2vh 6vh;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
  }
  .workshops-container p {
    margin-bottom: 3vh;
    line-height: 1.5;
    font-size: 0.8rem;
    margin-left: 4vh;
    margin-right: 4vh;
  }
  .workshops-container .button {
    font-size: 0.8rem;
    padding: 0.5rem 0.7rem;
    position: absolute;
    bottom: 3.5vh;
    left: 50%;
    transform: translateX(-50%);
  }
  .workshops-container .workshop-image-right {
    height: fit-content;
  }
  .workshops-container .workshop-image-right img {
    width: 15vh;
    height: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.students-section {
  font-family: "Inter";
  display: flex;
  height: fit-content;
  position: absolute;
  color: white;
  z-index: 2;
  background-color: hsl(0deg, 1%, 15%);
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
}

.image-students {
  position: relative;
  z-index: 1;
  opacity: 0.5;
}

@media (min-width: 37.5rem) and (max-width: 120rem) {
  .image-students {
    margin-top: 17vh;
    margin-bottom: 30vh;
    width: 100%;
  }
  .students-section {
    margin-left: 10vh;
    margin-right: 30vh;
    margin-top: 35rem;
    max-width: 100vh;
    padding-bottom: 4rem;
  }
  .students-section .students-response h3 {
    margin-left: 15vh;
    margin-top: 3rem;
    font-size: 2.3rem;
    font-weight: bold;
  }
  .students-section .students-response h3::before {
    content: "";
    width: 10%;
    border-bottom: 3px solid hsl(45deg, 100%, 50%);
    position: absolute;
    margin-top: 3.5rem;
  }
  .students-section .students-response p {
    margin-top: 2rem;
    margin-left: 15vh;
    margin-right: 20vh;
    max-width: 80vh;
    line-height: 1.5;
  }
  .students-section .students-response .quotation_mark {
    margin-top: 3rem;
    margin-left: 15vh;
    width: 8vh;
  }
}
@media (min-width: 0rem) and (max-width: 37.4375rem) {
  .image-students {
    margin-bottom: 15vh;
    width: 100vw;
    height: auto;
    left: 0;
    right: 0;
  }
  .students-section {
    margin-left: 5vh;
    margin-right: 15vh;
    margin-top: 7rem;
    max-width: fit-content;
    padding-bottom: 2rem;
  }
  .students-section .students-response h3 {
    margin-left: 3vh;
    margin-top: 2rem;
    font-size: 1rem;
  }
  .students-section .students-response h3::before {
    content: "";
    width: 10%;
    border-bottom: 2px solid hsl(45deg, 100%, 50%);
    position: absolute;
    margin-top: 1.5rem;
  }
  .students-section .students-response p {
    margin-top: 1rem;
    margin-left: 3vh;
    margin-right: 3vh;
    max-width: 35vh;
    line-height: 1.5;
    font-size: 0.6rem;
  }
  .students-section .students-response .quotation_mark {
    width: 3vh;
    padding-top: 1.3rem;
    margin-left: 3vh;
  }
}
footer {
  background-color: hsl(0deg, 0%, 12%);
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    padding: 25px 25px 8vh 25px;
  }
  footer div h2 {
    font-size: 1rem;
    color: hsl(45deg, 100%, 50%);
    line-height: 1.9;
    font-weight: bold;
  }
  footer div h3 {
    font-size: 0.8rem;
    color: hsl(45deg, 100%, 50%);
  }
  footer div p {
    max-width: 40vw;
    color: white;
    line-height: 1.5;
    font-size: 0.8rem;
  }
  footer div span {
    color: hsl(45deg, 100%, 50%);
    position: relative;
    top: 110px;
    font-size: 0.8rem;
  }
  footer div a {
    font-size: 0.8rem;
    line-height: 1.7;
    color: white;
  }
  footer .attributions {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: right;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  footer {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    padding: 50px;
  }
  footer div h2 {
    font-size: 1.2rem;
    color: hsl(45deg, 100%, 50%);
    line-height: 1.7;
    font-weight: bold;
  }
  footer div h3 {
    font-size: 1rem;
    color: hsl(45deg, 100%, 50%);
  }
  footer div p {
    max-width: 40vw;
    color: white;
    line-height: 1.5;
    font-size: 1rem;
  }
  footer div span {
    color: hsl(45deg, 100%, 50%);
    position: relative;
    top: 20px;
  }
  footer div a {
    font-size: 1rem;
    line-height: 1.7;
    color: white;
  }
  footer .attributions {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
#consulting-stats {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #consulting-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vh;
    column-gap: 5vw;
    width: 100vw;
    justify-content: center;
    height: fit-content;
    position: relative;
    bottom: 70vh;
  }
  #consulting-stats div {
    background-color: hsl(204deg, 5%, 18%);
    width: 35vw;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
    box-shadow: 4px 3px 8px 1px;
    border-radius: 5px;
  }
  #consulting-stats div h3 {
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
  }
  #consulting-stats div p {
    color: hsl(45deg, 100%, 50%);
    font-size: 3rem;
    font-weight: bold;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #consulting-stats {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    width: 100vw;
    justify-content: center;
    height: 40vh;
  }
  #consulting-stats div {
    background-color: hsl(204deg, 5%, 18%);
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    box-shadow: 4px 3px 8px 1px;
    border-radius: 5px;
  }
  #consulting-stats div h3 {
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  #consulting-stats div p {
    color: hsl(45deg, 100%, 50%);
    font-size: 3rem;
    font-weight: bold;
  }
}
#working-with-me {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #working-with-me {
    position: relative;
    bottom: 60vh;
    height: fit-content;
    width: 90vw;
  }
  #working-with-me div {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  #working-with-me img {
    width: 60vw;
    align-self: center;
    margin: 0;
  }
  #working-with-me [class^=section-1] {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5vh;
  }
  #working-with-me [class^=section-1] div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  #working-with-me [class^=section-1] div h2 {
    color: hsl(45deg, 100%, 50%);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 80vw;
    line-height: 1.5;
  }
  #working-with-me [class^=section-1] div li {
    color: white;
    max-width: 80vw;
    line-height: 1.5;
    list-style-type: circle;
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 3vh;
  }
  #working-with-me [class^=section-2] div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  #working-with-me [class^=section-2] div h2 {
    color: hsl(45deg, 100%, 50%);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 80vw;
    line-height: 1.5;
  }
  #working-with-me [class^=section-2] div li {
    color: white;
    max-width: 80vw;
    line-height: 1.5;
    list-style-type: circle;
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 3vh;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #working-with-me {
    height: fit-content;
    width: 100vw;
  }
  #working-with-me img {
    width: 30vw;
  }
  #working-with-me .img-section-1 {
    margin-right: 5vw;
  }
  #working-with-me .section-1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
  }
  #working-with-me .section-1 div {
    display: flex;
    flex-direction: column;
    background-color: hsl(204deg, 5%, 18%);
    padding: 20px;
    box-shadow: 4px 3px 8px 1px;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10vh;
    min-width: 50vw;
  }
  #working-with-me .section-1 div h2 {
    color: hsl(45deg, 100%, 50%);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    max-width: 40vw;
    line-height: 1.5;
    margin-left: 5vw;
  }
  #working-with-me .section-1 div li {
    color: white;
    max-width: 40vw;
    line-height: 1.5;
    list-style-type: circle;
    margin-left: 9vw;
    font-size: 1.2rem;
    margin-bottom: 3vh;
  }
  #working-with-me .section-2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
  }
  #working-with-me .section-2 div {
    display: flex;
    flex-direction: column;
    background-color: hsl(204deg, 5%, 18%);
    padding: 40px 20px 40px 20px;
    box-shadow: 4px 3px 8px 1px;
    justify-content: center;
    border-radius: 10px;
    min-width: 50vw;
  }
  #working-with-me .section-2 div h2 {
    color: hsl(45deg, 100%, 50%);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: right;
    max-width: 40vw;
    line-height: 1.5;
    margin-right: 5vw;
  }
  #working-with-me .section-2 div li {
    color: white;
    max-width: 40vw;
    line-height: 1.5;
    list-style-type: circle;
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 3vh;
    margin-right: 5vw;
  }
  #working-with-me .img-section-2 {
    margin-left: 5vw;
  }
}
#consulting-my-services {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #consulting-my-services {
    position: relative;
    bottom: 50vh;
    height: fit-content;
    width: 100vw;
  }
  #consulting-my-services h2 {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.5;
  }
  #consulting-my-services div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #consulting-my-services div div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  #consulting-my-services div div img {
    width: 15vw;
    height: auto;
    margin-bottom: 20px;
  }
  #consulting-my-services div div h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #consulting-my-services div div p {
    font-size: 0.8rem;
    line-height: 1.5;
    color: white;
    max-width: 40vw;
  }
  #consulting-my-services div .consulting {
    background: hsl(204deg, 5%, 18%);
  }
  #consulting-my-services div .strategy {
    background-color: hsl(0deg, 0%, 12%);
  }
  #consulting-my-services div .mission {
    background-color: hsl(0deg, 0%, 12%);
  }
  #consulting-my-services div .investment {
    background-color: hsl(204deg, 5%, 18%);
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #consulting-my-services {
    height: 80vh;
    width: 100vw;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
  #consulting-my-services h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 3.5rem;
    text-align: center;
    font-weight: bold;
  }
  #consulting-my-services div {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    align-items: center;
    justify-content: center;
  }
  #consulting-my-services div div {
    max-width: 20vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: hsl(204deg, 5%, 18%);
    box-shadow: 4px 3px 8px 1px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 5rem;
  }
  #consulting-my-services div div img {
    width: 5vw;
  }
  #consulting-my-services div div h3 {
    color: white;
    font-weight: bold;
  }
  #consulting-my-services div div p {
    color: white;
    max-width: 15vw;
    line-height: 1.5;
  }
}
#consulting-what-i-do {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #consulting-what-i-do {
    width: 100vw;
    height: 40vh;
    background-color: hsl(204deg, 5%, 19%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    position: relative;
    bottom: 40vh;
  }
  #consulting-what-i-do .what-i-do-image {
    grid-row: 1/span 1;
    background-image: url("./images/consulting-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
  }
  #consulting-what-i-do .what-i-do-dark-background {
    background-color: hsl(0deg, 0%, 12%);
    width: 100vw;
    grid-row: 2/span 1;
  }
  #consulting-what-i-do h2 {
    color: white;
    font-size: 3rem;
  }
  #consulting-what-i-do .cards {
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    position: relative;
    bottom: 30vh;
  }
  #consulting-what-i-do .cards [class^=card-1] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards [class^=card-1] img {
    width: 50%;
    position: relative;
    right: -13px;
    bottom: -10px;
  }
  #consulting-what-i-do .cards [class^=card-1] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 35%;
  }
  #consulting-what-i-do .cards [class^=card-2] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
  }
  #consulting-what-i-do .cards [class^=card-2] img {
    width: 50%;
    position: relative;
    right: 58px;
    bottom: 29px;
  }
  #consulting-what-i-do .cards [class^=card-2] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #consulting-what-i-do .cards [class^=card-3] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
  }
  #consulting-what-i-do .cards [class^=card-3] img {
    width: 70%;
    position: relative;
    right: 125px;
    bottom: 34px;
  }
  #consulting-what-i-do .cards [class^=card-3] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #consulting-what-i-do .cards-second-slide {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 15%;
    background-color: hsl(204deg, 5%, 19%);
    display: none;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-4] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-4] img {
    width: 50%;
    position: relative;
    right: 58px;
    bottom: 29px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-4] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-5] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-5] img {
    width: 70%;
    position: relative;
    right: 125px;
    bottom: 34px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-5] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-6] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 22vh;
    width: 41vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-6] img {
    width: 50%;
    position: relative;
    right: 58px;
    bottom: 29px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-6] h3 {
    font-size: 1rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 3%;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #consulting-what-i-do {
    height: 100vh;
    background-color: hsl(204deg, 5%, 19%);
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    margin-bottom: 5vh;
  }
  #consulting-what-i-do .what-i-do-image {
    grid-row: 1/span 1;
    background-image: url("./images/consulting-background.png");
    background-size: 100%;
    width: 100vw;
  }
  #consulting-what-i-do .what-i-do-dark-background {
    background-color: hsl(0deg, 0%, 12%);
    width: 100vw;
    grid-row: 2/span 1;
  }
  #consulting-what-i-do h2 {
    color: white;
    font-size: 3rem;
  }
  #consulting-what-i-do .cards {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    position: relative;
    bottom: 60vh;
  }
  #consulting-what-i-do .cards [class^=card-1] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 2rem;
  }
  #consulting-what-i-do .cards [class^=card-1] img {
    width: auto;
    position: relative;
    right: 40px;
    bottom: 9px;
  }
  #consulting-what-i-do .cards [class^=card-1] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 15%;
  }
  #consulting-what-i-do .cards [class^=card-2] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    padding: 2% 7% 5% 0%;
    height: 35vh;
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards [class^=card-2] img {
    width: auto;
    position: relative;
    left: 35px;
  }
  #consulting-what-i-do .cards [class^=card-2] h3 {
    font-size: 2rem;
    text-align: left;
    max-width: 10vw;
    margin-left: 15%;
    margin-top: 18%;
  }
  #consulting-what-i-do .cards [class^=card-3] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 2rem;
  }
  #consulting-what-i-do .cards [class^=card-3] img {
    width: auto;
    position: relative;
    left: 45%;
    bottom: 2px;
  }
  #consulting-what-i-do .cards [class^=card-3] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 20%;
  }
  #consulting-what-i-do .cards-second-slide {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 15%;
    background-color: hsl(204deg, 5%, 19%);
    display: none;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-4] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-4] img {
    height: 13vh;
    width: auto;
    position: relative;
    left: 45%;
    bottom: 2px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-4] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 15%;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-5] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    padding: 2% 7% 5% 0%;
    height: 35vh;
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-5] img {
    height: 13vh;
    width: auto;
    position: relative;
    left: 35px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-5] h3 {
    font-size: 2rem;
    text-align: left;
    max-width: 10vw;
    margin-left: 15%;
    margin-top: 18%;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-6] {
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 1%, 15%);
    color: white;
    height: 35vh;
    width: 30vw;
    padding: 2% 7% 5% 0%;
    border: 1px solid black;
    border-radius: 10px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-6] img {
    height: 13vh;
    width: auto;
    position: relative;
    right: 40px;
    bottom: 9px;
  }
  #consulting-what-i-do .cards-second-slide [class^=card-6] h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    max-width: 10vw;
    margin-top: 20%;
  }
}
#unlock {
  font-family: "Inter";
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #unlock {
    position: relative;
    bottom: 30vh;
    text-align: left;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
  }
  #unlock h2 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2vh;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
  }
  #unlock .contact-form form label {
    color: white;
    font-size: 1rem;
    text-align: left;
  }
  #unlock .contact-form form input[type=text],
  #unlock .contact-form form input[type=email],
  #unlock .contact-form form textarea,
  #unlock .contact-form form select {
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 10px;
    background-color: hsl(0deg, 1%, 15%);
    border: 1px solid hsl(45deg, 100%, 50%);
    color: white;
    font-size: 0.8rem;
    margin: 20px 0 10px 0;
    border-radius: 5px;
  }
  #unlock .contact-form form input[type=submit] {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 0.6rem 1.1rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
    align-self: center;
    grid-column: 1/span 2;
    grid-row: 3/span 1;
  }
  #unlock .contact-form form p {
    margin: 20px;
  }
}
@media (min-width: 37.5rem) and (max-width: 120rem) {
  #unlock {
    text-align: left;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6vh 6vw;
  }
  #unlock h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 7vh;
    text-transform: uppercase;
  }
  #unlock .button {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 1.1rem 1.7rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
    width: fit-content;
    align-self: center;
  }
  #unlock .contact-form form label {
    color: white;
    font-size: 1.2rem;
    text-align: left;
  }
  #unlock .contact-form form input[type=text],
  #unlock .contact-form form input[type=email],
  #unlock .contact-form form textarea,
  #unlock .contact-form form select {
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 10px;
    background-color: hsl(0deg, 1%, 15%);
    border: 1px solid hsl(45deg, 100%, 50%);
    color: white;
    font-size: 1rem;
    margin: 20px 0 10px 0;
    border-radius: 5px;
  }
  #unlock .contact-form form input[type=submit] {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(45deg, 100%, 50%);
    border: 1px solid hsl(45deg, 100%, 50%);
    padding: 1.1rem 1.7rem;
    border-radius: 10px;
    color: hsl(204deg, 5%, 19%);
    width: fit-content;
    align-self: center;
    grid-column: 1/span 2;
    grid-row: 3/span 1;
  }
  #unlock .contact-form form p {
    margin: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
