#unlock {
    font-family: 'Inter';
}

@include breakpoint($desktop, $max-width) {
    #unlock {
        text-align: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 2.5rem;
            color: white;
            margin-bottom: 7vh;
            text-transform: uppercase;
        }
        
        .button {
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $primary;
            border: 1px solid $primary;
            padding:  1.1rem 1.7rem;
            border-radius: 10px;
            color: $bggray;
            width: fit-content;
            align-self: center;
        }
    }
}