footer {
    background-color: $bgfooter;
    font-family: 'Inter';
}

@include breakpoint(0, $mobile) { 
    footer {
        display: none;
    }
}

@include breakpoint($desktop, $max-width) {
    footer {
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: space-between;
        padding: 50px;

        div {
            h2 {
                font-size: 1.2rem;
                color: $primary;
                line-height: 1.7;
                font-weight: bold;
            }

            h3 {
                font-size: 1rem;
                color: $primary;
            }
            p {
                max-width: 40vw;
                color: white;
                line-height: 1.5;
                font-size: 1rem;
            }

            span {
                color: $primary;
                position: relative;
                top: 20px;
            }

            a {
                font-size: 1rem;
                line-height: 1.7;
                color: white;
            }
        }
        .attributions {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
    }
}