header{
    background-color: $bggray;
    font-family: 'Inter';
}

@include breakpoint($desktop, $max-width) {
    header {
        padding: 25px;
        height: fit-content;
        margin-bottom: 10vh;

        h1 {
            max-width: 30rem;
            font-weight: bold;
            color: $primary; 
            font-size: 300;
            text-transform: lowercase;
            font-size: 2.5rem;
            margin-left: 2.5rem;
        }
    }
    #mainnav {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $bggray;
        padding: 50px 20px 0px 0px;

        #hamburger {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 30vw; 
        }
        
        li a{
            text-transform: uppercase;
            color: $primary;
        }
        
        li a:hover {
            text-decoration: underline;
        }
    }
    .dreams {
        margin-left: 2.5rem;
        margin-top: 15vh;

        h2 {
            font-size: 3.55rem;
            color: white;
            max-width: 75vw;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 1.5rem;
            margin-left: 0;
            color: white;
            margin-bottom: 15px;
            line-height: 1.5;
        }

        p {
            color: white;
            font-size: 1.2rem;
            line-height: 1.5;
            max-width: 40vw;
            margin-bottom: 3rem;
        }

        .button {
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $primary;
            border: 1px solid $primary;
            padding:  1.1rem 1.7rem;
            border-radius: 10px;
            margin-top: 50%;
            color: $bggray;
        }
    }

    .workshop-header {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 3.55rem;
            color: white;
            max-width: 70vw;
            margin-bottom: 20px;
            margin-top: 15vh;
        }
    }

    .consulting-header {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;

        h2 {
            font-size: 3.55rem;
            color: white;
            max-width: 70vw;
            margin-bottom: 20px;
        }
    }

    .rick-header {
        margin-left: 40rem;
        width: auto;
        position: relative;
    }

    .stats {
        width: 60vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primary;
        padding: 40px;
        height: fit-content;
        border-radius: 10px;
        margin-left: 18vw;
        position: relative;
        bottom: 3vh;

        div {
            text-align: center;
            color: $bggray;

            .number {
                font-size: 3.5rem;
                font-weight: bold;
            }
    
            p {
                font-size: 1.2rem;
            }
        }
    }
}