header{
    background-color: $bggray;
    height: 130vh;
}

@include breakpoint($desktop, $max-width) {
    header {
        display: grid;
        grid-template-rows: 25vh 14vh 58vh 15vh;
        grid-template-columns: 20vw 60vw 20vw;
        padding: 25px;

        h1 {
            max-width: 30rem;
            font-weight: bold;
            color: $primary; 
            font-size: 300;
            text-transform: lowercase;
            font-size: 2.5rem;
            margin-left: 2.5rem;
            grid-row: 1/span 1;
            grid-column: 1/span 1;
        }
    }
    #mainnav {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $bggray;
        padding: 50px 20px 0px 0px;

        #hamburger {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 30vw;
            grid-row: 1/span 1;
            grid-column: 2/ span 3;
        }
        
        li a{
            text-transform: uppercase;
            color: $primary;
        }
        
        li a:hover {
            text-decoration: underline;
        }
    }
    .dreams {
        margin-left: 2.5rem;
        grid-row: 2/span 2;
        grid-column: 1/ span 2;

        h2 {
            font-size: 3.55rem;
            color: white;
            max-width: 60vw;
            margin-bottom: 20px;
            grid-row: 2/span 1;
            grid-column: 1/span 1;
        }

        h3 {
            font-size: 1.5rem;
            margin-left: 0;
            color: white;
            margin-bottom: 15px;
            line-height: 1.5;
        }

        p {
            color: white;
            font-size: 1.2rem;
            line-height: 1.5;
            max-width: 40vw;
            margin-bottom: 3rem;
        }

        .button {
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $primary;
            border: 1px solid $primary;
            padding:  1.1rem 1.7rem;
            border-radius: 10px;
            margin-top: 50%;
            color: $bggray;
        }
    }

    .rick-header {
        grid-row: 3/span 1;
        grid-column: 2/span 2;
        margin-left: 50rem;
        width: auto;
        position: absolute;
        margin-top: 20rem;
    }

    .stats {
        width: 60vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primary;
        padding: 40px;
        height: fit-content;
        border-radius: 10px;
        grid-row: 4/span 1;
        grid-column: 1/ span 1;
        margin-left: 18vw;
        position: absolute;
        margin-top: 48rem;

        div {
            text-align: center;
            color: $bggray;

            .number {
                font-size: 3.5rem;
                font-weight: bold;
            }
    
            p {
                font-size: 1.2rem;
            }
        }
    }
}