#working-with-me {
    font-family: 'Inter';
}

@include breakpoint($desktop, $max-width) {
    #working-with-me {
        height: 100vh;
        width: 100vw;
        div {
            display: flex;
            flex-direction: row;
            width: 100vw;
            margin-bottom: 5vh;

            img {
                width: 30vw;
            }

            div {
                display: flex;
                flex-direction: column;
                background-color: $bgabout;
                padding: 20px;
                box-shadow: 4px 3px 8px 1px;

                h2 {
                    color: $primary;
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    text-align: left;
                    max-width: 40vw;
                    line-height: 1.5;
                    margin-left: 5vw;
                }

                li {
                    color: white;
                    max-width: 40vw;
                    line-height: 1.5;
                    list-style-type: circle;
                    margin-left: 20px;
                    margin-left: 5vw;
                }
            }
        }
    }
}