        #consulting-my-services {
            font-family: 'Inter';
        }
        
        @include breakpoint(0, $mobile) {
            #consulting-my-services {
                position: relative;
                bottom: 50vh;
                height: fit-content;
                width: 100vw;
                h2 {
                    color: white;
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin-bottom: 3rem;
                    text-align: center;
                    line-height: 1.5;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    div {
                        width: 50vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        min-height: 50vh;
                        .icon-wrapper {
                            img {
                                width: 15vw;
                                height: auto;
                                margin-bottom: 20px;
                            }
                        }
                        h3 {
                            color: white;
                            font-weight: bold;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 0.8rem;
                            line-height: 1.5;
                            color: white;
                            max-width: 40vw;
                        }
                    }
                    .consulting {
                        background: $bgabout;
                    }
                    .strategy {
                        background-color: $bgconsulting;
                    }
                    .mission {
                        background-color: $bgconsulting;
                    }
                    .investment {
                        background-color: $bgabout;
                    }
                }
            }
        }
        
        @include breakpoint($desktop, $max-width) {
            #consulting-my-services {
                height: 80vh;
                width: 100vw;
                text-align: center;
                margin-top: 15vh;
                margin-bottom: 15vh;
                h2 {
                    color: white;
                    font-size: 2rem;
                    margin-bottom: 3.5rem;
                    text-align: center;
                    font-weight: bold;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    column-gap: 5vw;
                    align-items: center;
                    justify-content: center;
                    height: fit-content;
                    min-height: 60vh;
                    div {
                        max-width: 20vw;
                        height: fit-content;
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px;
                        justify-content: center;
                        align-items: center;
                        background-color: $bgabout;
                        box-shadow: 4px 3px 8px 1px;
                        padding: 20px;
                        border-radius: 5px;
                        padding-bottom: 5rem;
                        .icon-wrapper {
                            img {
                                width: 5vw;
                            }
                        }
                        h3 {
                            color: white;
                            font-weight: bold;
                        }
                        p {
                            color: white;
                            max-width: 15vw;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }