#consulting-what-i-do {
    font-family: 'Inter';
}

@include breakpoint(0, $mobile) {
    #consulting-what-i-do {
        width: 100vw;
        height: 40vh;
        background-color: $bggray;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        position: relative;
        bottom: 40vh;
        .what-i-do-image {
            grid-row: 1/ span 1;
            background-image: url("./images/consulting-background.png");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100vw;
        }
        .what-i-do-dark-background {
            background-color: $bgconsulting;
            width: 100vw;
            grid-row: 2/ span 1;
        }
        h2 {
            color: white;
            font-size: 3rem;
        }
        .cards {
            height: 30vh;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 20px;
            position: relative;
            bottom: 30vh;
            [class^=card-1] {
                display: flex;
                flex-direction: column;
                background-color: hsl(0deg, 1%, 15%);
                color: white;
                height: 22vh;
                width: 41vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: 50%;
                        position: relative;
                        right: -13px;
                        bottom: -10px;
                    }
                }
                h3 {
                    font-size: 1rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 35%;
                }
            }
            [class^=card-2] {
                display: flex;
                flex-direction: column;
                background-color: hsl(0deg, 1%, 15%);
                color: white;
                height: 22vh;
                width: 41vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                display: none;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: 50%;
                        position: relative;
                        right: 58px;
                        bottom: 29px;
                    }
                }
                h3 {
                    font-size: 1rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 3%;
                }
            }
            [class^=card-3] {
                display: flex;
                flex-direction: column;
                background-color: hsl(0deg, 1%, 15%);
                color: white;
                height: 22vh;
                width: 41vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                display: none;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: 70%;
                        position: relative;
                        right: 125px;
                        bottom: 34px;
                    }
                }
                h3 {
                    font-size: 1rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 3%;
                }
            }
        }
        .cards-second-slide {
            height: 50vh;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 80px;
            padding: 15%;
            background-color: $bggray;
            display: none;
            [class^=card-4] {
                display: flex;
                flex-direction: column;
                background-color: hsl(0deg, 1%, 15%);
                color: white;
                height: 22vh;
                width: 41vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: 50%;
                        position: relative;
                        right: 58px;
                        bottom: 29px;
                    }
                }
                h3 {
                    font-size: 1rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 3%;
                }
            }
            [class^=card-5] {
                display: flex;
                flex-direction: column;
                background-color: hsl(0deg, 1%, 15%);
                color: white;
                height: 22vh;
                width: 41vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: 70%;
                        position: relative;
                        right: 125px;
                        bottom: 34px;
                    }
                }
                h3 {
                    font-size: 1rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 3%;
                }
            }
            [class^=card-6] {
                display: flex;
                flex-direction: column;
                background-color: hsl(0deg, 1%, 15%);
                color: white;
                height: 22vh;
                width: 41vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: 50%;
                        position: relative;
                        right: 58px;
                        bottom: 29px;
                    }
                }
                h3 {
                    font-size: 1rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 3%;
                }
            }
        }
    }
}

@include breakpoint($desktop,
$max-width) {
    #consulting-what-i-do {
        height: 100vh;
        background-color: $bggray;
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        margin-bottom: 5vh;
        .what-i-do-image {
            grid-row: 1/ span 1;
            background-image: url("./images/consulting-background.png");
            background-size: 100%;
            width: 100vw;
        }
        .what-i-do-dark-background {
            background-color: $bgconsulting;
            width: 100vw;
            grid-row: 2/ span 1;
        }
        h2 {
            color: white;
            font-size: 3rem;
        }
        .cards {
            height: fit-content;
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 2%;
            position: relative;
            bottom: 60vh;
            [class^=card-1] {
                display: flex;
                flex-direction: column;
                background-color: $bgcards;
                color: white;
                height: 35vh;
                width: 30vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                margin-left: 2rem;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: auto;
                        position: relative;
                        right: 40px;
                        bottom: 9px;
                    }
                }
                h3 {
                    font-size: 2rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 15%;
                }
            }
            [class^=card-2] {
                display: flex;
                flex-direction: column;
                background-color: $bgcards;
                color: white;
                padding: 2% 7% 5% 0%;
                height: 35vh;
                width: 30vw;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: auto;
                        position: relative;
                        left: 35px;
                    }
                }
                h3 {
                    font-size: 2rem;
                    text-align: left;
                    max-width: 10vw;
                    margin-left: 15%;
                    margin-top: 18%;
                }
            }
            [class^=card-3] {
                display: flex;
                flex-direction: column;
                background-color: $bgcards;
                color: white;
                height: 35vh;
                width: 30vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                margin-right: 2rem;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        width: auto;
                        position: relative;
                        left: 45%;
                        bottom: 2px;
                    }
                }
                h3 {
                    font-size: 2rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 20%;
                }
            }
        }
        .cards-second-slide {
            height: 50vh;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 80px;
            padding: 15%;
            background-color: $bggray;
            display: none;
            [class^=card-4] {
                display: flex;
                flex-direction: column;
                background-color: $bgcards;
                color: white;
                height: 35vh;
                width: 30vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        height: 13vh;
                        width: auto;
                        position: relative;
                        left: 45%;
                        bottom: 2px;
                    }
                }
                h3 {
                    font-size: 2rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 15%;
                }
            }
            [class^=card-5] {
                display: flex;
                flex-direction: column;
                background-color: $bgcards;
                color: white;
                padding: 2% 7% 5% 0%;
                height: 35vh;
                width: 30vw;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        height: 13vh;
                        width: auto;
                        position: relative;
                        left: 35px;
                    }
                }
                h3 {
                    font-size: 2rem;
                    text-align: left;
                    max-width: 10vw;
                    margin-left: 15%;
                    margin-top: 18%;
                }
            }
            [class^=card-6] {
                display: flex;
                flex-direction: column;
                background-color: $bgcards;
                color: white;
                height: 35vh;
                width: 30vw;
                padding: 2% 7% 5% 0%;
                border: 1px solid black;
                border-radius: 10px;
                .icon-wrapper {
                    height: fit-content;
                    img {
                        height: 13vh;
                        width: auto;
                        position: relative;
                        right: 40px;
                        bottom: 9px;
                    }
                }
                h3 {
                    font-size: 2rem;
                    text-align: left;
                    margin-left: 15%;
                    max-width: 10vw;
                    margin-top: 20%;
                }
            }
        }
    }
}