#unlock {
    font-family: 'Inter';
}

@include breakpoint($desktop, $max-width) {
    #unlock {
        text-align: center;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 6vh;

        h2 {
            font-size: 2.5rem;
            color: white;
            margin-bottom: 7vh;
            text-transform: uppercase;
        }
        
        .button {
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $primary;
            border: 1px solid $primary;
            padding:  1.1rem 1.7rem;
            border-radius: 10px;
            color: $bggray;
            width: fit-content;
            align-self: center;
        }

        .contact-form {
            label {
                color: white;
                font-size: 1.2rem;
            }

            input {
                border: 1px solid $primary;
                padding: 10px;
                background-color: $bgcards;
                border: 1px solid $primary;
                color: white;
                font-size: 1rem;
                margin: 20px;
                border-radius: 5px;
            }

            textarea {
                border: 1px solid $primary;
                padding: 10px;
                background-color: $bgcards;
                border: 1px solid $primary;
                color: white;
                font-size: 1rem;
                margin: 20px;
                border-radius: 5px;
            }

            .button {
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                background-color: $primary;
                border: 1px solid $primary;
                padding:  1.1rem 1.7rem;
                border-radius: 10px;
                color: $bggray;
                width: fit-content;
                align-self: center;
            }

            select {
                background-color: $bgcards;
                border: 1px solid $primary;
                color: white;
                font-size: 1rem;
                padding: 10px;
                margin: 20px;
                border-radius: 5px;
            }

            p {
                margin: 20px;
            }
        }
    }
}